body {
    font-family: Arial, sans-serif; /* aqui eu defino a fonte de letra do projeto */
    
}
.texto-bio {
    font-size: 38px;
}

.logo1 img {
    max-width: 200px;
    height: 100px;
}

.logo2 img {
    max-width: 120px;
    height: 200px;
}


.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    max-width: 400px;
    height: 300px;
}


.container {
    margin-top: 30px;
    padding: 15px;
}

/* Estilização do formulário */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

